.helpme{
  visibility: hidden;
}
.body {
  height: 2.5em;
  display: flex;
  align-items: center;
}

.email {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 100%;
  vertical-align: middle;
  background-color: #fff;
  color: #7f88a5;
  border: none;
  padding: 0 0 0 0.75em;
  font-size: 1em;
  outline: none;
}

.button {
  height: 100%;
  vertical-align: middle;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-weight: 700;
  color: #fff;
  border: none;
  background: #116466;
  text-transform: uppercase;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0 1em;
}
