.footer {
  background: #000;
  /*height: 6em;*/
}

.footer__logo {
  position: relative;
  justify-content: center;
  left: 30.5%;
  margin-top: 3%;
}

.footer .col {
  max-width: 95%;
}

.slogan {
  font-weight: bold;
  font-style: italic;
  color: #7f88a5;
}

@media (max-width: 1000px) {
  .footer .col {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .footer__logo{
    left: 0;
  }
}
